<%= form_for [topic, post] do |f| %>

  <% if post.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_group_tag(post.errors[:title]) do %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form form-control' %>
  <% end %>

  <%= form_group_tag(post.errors[:body]) do %>
    <%= f.label :write_something_here %>
    <%= f.text_area :body, class: 'form form-control' %>
  <% end %>

  <div class="form-group">
    <%= render partial: 'labels/form', locals: { f: f, topic: @topic, labels: @post.labels } %>
  </div>

  <div class="form-group">
    <%= f.submit "Submit", class: 'btn btn-success' %>
  </div>

<% end %>
